---
import '../styles/index.css';
import SEO from '../components/SEO.astro';

const { pathname } = Astro.url
const isHome = pathname === '/';
const baseUrl = "https://link.ikziriv.com"

let {
	title = "Ikziriv Art",
	sharingImageUrl = '/sharing.png',
	type = 'website',
	description = "Hi, I'm Ikziriv and you found my zone on the this site. Here you can find information about my activity on the Internet and far more.",
	canonical,
	date,
} = Astro.props;

if (!isHome) {
	title = `${title} - Ikziriv Art`
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO {title} {sharingImageUrl} {type} {description} {canonical} {date} />
	</head>
	<body class={`preload-transitions bg-white text-zinc-800 dark:text-zinc-200 dark:bg-zinc-900 antialiased${isHome ? " flex items-center" : '' }`}>
		<slot />
	</body>
</html>
<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}


</style>

<style is:global>
	h1 {
		font-size: var(--font-size-xl);
	}

	h2 {
		font-size: var(--font-size-lg);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
