---
import '../styles/index.css';
import SEO from '../components/SEO.astro';
import { MAXIMUM_THEME_INDEX } from "../constants";
import { getThemeCookie } from "../utils/theme";

const { pathname } = Astro.url
const isHome = pathname === '/';
const baseUrl = "https://link.ikziriv.com"
const theme_ = getThemeCookie(Astro.request.headers);

export interface Props {
  title: string;
  sharingImageUrl?: string;
  type?: string;
  description?: string;
  canonical?: string;
  date?: string;
  maxThemeIndex?: number;
  theme?: {
    mode: "dark-theme" | "light-theme";
    theme: number;
  } | null;
}

let {
	title = "Ikziriv Art",
	sharingImageUrl = '/sharing.png',
	type = 'website',
	description = "Hi, I'm Ikziriv and you found my zone on the this site. Here you can find information about my activity on the Internet and far more.",
	canonical,
	date,
  	maxThemeIndex = MAXIMUM_THEME_INDEX,
  	theme = theme_,
} = Astro.props as Props;

if (!isHome) {
	title = `${title} - Ikziriv Art`
}
---

<!DOCTYPE html>
<html 
	lang="en"
	data-max-theme-index={maxThemeIndex}
	data-theme={JSON.stringify(theme)}
	class={theme?.mode ?? ""}
	data-theme-index={theme?.theme ?? 0}
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta content="#FFF" name="theme-color" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO 
			title={title} 
			sharingImageUrl={sharingImageUrl} 
			type={type} 
			description={description} 
			canonical={canonical} 
			date={date} 
		/>

		<script>
		if (typeof window !== "undefined") {
			const root = document.documentElement;
			const theme = root.getAttribute("data-theme");
			if (theme !== "null") {
			document.cookie = `__theme_nfz=${theme}; SameSite=Lax; Secure; path=/`;
			} else {
			document.cookie = `__theme_nfz=${JSON.stringify({
				mode: "light-theme",
				theme: 0,
			})}; SameSite=Lax; Secure; path=/`;
			}
		}
		</script>
	</head>
	<body class={`preload-transitions bg-transparent antialiased${isHome ? " flex items-center" : '' }`}>
		<slot />
	</body>
</html>
<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}


</style>

<style is:global>
	h1 {
		font-size: var(--font-size-xl);
	}

	h2 {
		font-size: var(--font-size-lg);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
